.footer-additional {
  background-color: #efefef;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px 405px;
}

.footer-additional__copyright {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}

.footer-additional__politics {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #828282;

  &:hover {
    color: #000000;
  }
}
